[Unit]
Description=voicetest
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/voicetest
ExecStart=/opt/voicetest/voicetest.mjs
EnvironmentFile=/opt/voicetest/.env

[Install]
WantedBy=multi-user.target
